* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#top-area {
  background-color: black;
}
#top-area .container {
  height: 45px;
  background-color: black;
}
#top-area .container .welcome p {
  color: white;
  padding-top: 10px;
  margin-right: 10px;
}
#top-area .container .my-btn {
  width: 100px;
  height: 45px;
  padding-top: 10px;
  background-color: black;
  border-top: none;
  border-bottom: none;
}
#top-area .container .flag-menu li img {
  width: 26px;
  height: 26px;
}
#top-area .container .icons {
  display: flex;
  float: right;
}
#top-area .container .icons div {
  width: 50px;
  height: 45px;
  border: 1px solid gray;
  border-top: none;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}
#top-area .container .icons div img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
}
#top-area .container .icons div i {
  color: white;
  font-size: 20px;
  position: absolute;
}
#top-area .container .icons div sup {
  border-radius: 50%;
  font-size: 10px;
  padding: 4px;
  top: -15px;
  right: 5px;
  background-color: coral;
}
#top-area .container .icons div:nth-child(1) {
  border-left: none;
}

#center-area {
  background-color: #F3F3F4;
}
#center-area .container {
  background-color: #F3F3F4;
}
#center-area .container .head {
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
}
#center-area .container .head img {
  position: absolute;
}
#center-area .container .input {
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
}
#center-area .container .input input {
  width: 550px;
  height: 40px;
  right: 0;
  border: none;
  outline: none;
  border-radius: 3px;
  position: absolute;
  padding-left: 20px;
}
#center-area .container .input i {
  position: absolute;
  right: 15px;
}

#navbar-area {
  background-color: #283593;
}
#navbar-area .container nav {
  margin-left: 20px;
}
#navbar-area .container .btn {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
#navbar-area .container .btn .admin {
  background-color: #FF5722;
  width: 125px;
}
#navbar-area .container .btn li {
  display: inline-block;
  transition: all 0.3s ease-in-out;
  margin-right: 25px;
  z-index: 2;
}
#navbar-area .container .btn li .nav-a {
  color: white;
  display: block;
  text-decoration: none;
  position: relative;
  margin-top: 15px;
  padding-bottom: 10px;
}
#navbar-area .container .btn li .nav-a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -10px;
  left: 0px;
  background-color: #FF5722;
  transition: all 0.2s ease-in-out;
  transform: scale(0, 0);
  visibility: hidden;
}
#navbar-area .container .btn li:hover .home {
  height: 120px;
  z-index: 2;
}
#navbar-area .container .btn li:hover .submenu {
  height: 160px;
  z-index: 2;
}
#navbar-area .container .btn li:hover .categori {
  height: 250px;
  z-index: 2;
}
#navbar-area .container .btn li:hover a::before {
  visibility: visible;
  transform: scale(1, 1);
}
#navbar-area .container .btn li .home {
  overflow: hidden;
  position: absolute;
  margin-top: 10px;
  background-color: white;
  height: 0;
  width: 150px;
  line-height: 40px;
  transition: height 0.3s ease-in-out;
  transition-delay: 0.1s;
  text-align: left;
  padding-left: 15px;
  border-radius: 5px;
}
#navbar-area .container .btn li .home a {
  color: #000;
  font-size: 16px;
  text-decoration: none;
}
#navbar-area .container .btn li .submenu {
  overflow: hidden;
  position: absolute;
  margin-top: 10px;
  background-color: white;
  height: 0;
  width: 150px;
  line-height: 40px;
  transition: height 0.3s ease-in-out;
  transition-delay: 0.1s;
  text-align: left;
  padding-left: 15px;
  border-radius: 5px;
}
#navbar-area .container .btn li .submenu a {
  color: #000;
  font-size: 16px;
  text-decoration: none;
}
#navbar-area .container .btn li .categori {
  overflow: hidden;
  position: absolute;
  margin-top: 10px;
  background-color: white;
  height: 0;
  width: 800px;
  line-height: 30px;
  text-align: left;
  transition: height 0.3s ease-in-out;
  transition-delay: 0.2s;
  text-align: left;
  margin-left: -200px;
  border-radius: 10px;
}
#navbar-area .container .btn li .categori table td {
  border: none;
}
#navbar-area .container .btn li .categori table th {
  font-size: 17px;
  color: blue;
}
#navbar-area .container .btn li .categori table th:hover {
  color: #000;
}
#navbar-area .container .btn h1 {
  text-align: center;
  font-family: satisfy;
  font-weight: 300;
}

#scroll-section {
  background-color: #283593;
  z-index: 2;
  position: fixed;
  width: 100%;
  display: block;
  transition: 0.5s;
}
#scroll-section .inActive {
  display: none;
}
#scroll-section .head {
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
}
#scroll-section .head img {
  position: absolute;
  color: white !important;
}
#scroll-section nav {
  float: right;
}
#scroll-section .btn {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
#scroll-section .btn .admin {
  background-color: #FF5722;
  width: 125px;
  height: 60px;
  padding-top: 4px;
  margin-right: 0;
}
#scroll-section .btn li {
  display: inline-block;
  transition: all 0.3s ease-in-out;
  margin-right: 25px;
}
#scroll-section .btn li .nav-a {
  color: white;
  display: block;
  text-decoration: none;
  position: relative;
  margin-top: 15px;
  padding-bottom: 10px;
}
#scroll-section .btn li .nav-a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -10px;
  left: 0px;
  background-color: #FF5722;
  transition: all 0.2s ease-in-out;
  transform: scale(0, 0);
  visibility: hidden;
}
#scroll-section .btn li:hover .home {
  height: 120px;
}
#scroll-section .btn li:hover .submenu {
  height: 200px;
}
#scroll-section .btn li:hover .categori {
  height: 250px;
}
#scroll-section .btn li:hover a::before {
  visibility: visible;
  transform: scale(1, 1);
}
#scroll-section .btn li .home {
  overflow: hidden;
  position: absolute;
  margin-top: 10px;
  background-color: white;
  height: 0;
  width: 150px;
  line-height: 40px;
  transition: height 0.3s ease-in-out;
  transition-delay: 0.1s;
  text-align: left;
  padding-left: 15px;
  border-radius: 5px;
}
#scroll-section .btn li .home a {
  color: #000;
  font-size: 16px;
  text-decoration: none;
}
#scroll-section .btn li .submenu {
  overflow: hidden;
  position: absolute;
  margin-top: 10px;
  background-color: white;
  height: 0;
  width: 150px;
  line-height: 40px;
  transition: height 0.3s ease-in-out;
  transition-delay: 0.1s;
  text-align: left;
  padding-left: 15px;
  border-radius: 5px;
}
#scroll-section .btn li .submenu a {
  color: #000;
  font-size: 16px;
  text-decoration: none;
}
#scroll-section .btn li .categori {
  overflow: hidden;
  position: absolute;
  margin-top: 10px;
  background-color: white;
  height: 0;
  width: 800px;
  line-height: 30px;
  text-align: left;
  transition: height 0.3s ease-in-out;
  transition-delay: 0.2s;
  text-align: left;
  margin-left: -220px;
  border-radius: 10px;
}
#scroll-section .btn li .categori table td {
  border: none;
}
#scroll-section .btn li .categori table th {
  font-size: 17px;
  color: blue;
}
#scroll-section .btn li .categori table th:hover {
  color: #000;
}
#scroll-section .btn h1 {
  text-align: center;
  font-family: satisfy;
  font-weight: 300;
}

#collection {
  background-color: #F3F3F4;
  padding-top: 80px;
}
#collection img {
  filter: brightness(0.5);
}
#collection .swiper {
  width: 100%;
  height: 100%;
}
#collection .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#collection .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
#collection .swiper .swiper-slide p {
  position: absolute;
  font-size: 30px;
  color: white;
  top: 115px;
}
#collection .swiper .swiper-slide h1 {
  color: white;
  position: absolute;
  font-size: 90px;
  top: 160px;
}
#collection .swiper .swiper-slide .my-btn {
  width: 110px;
  height: 40px;
  border-radius: 7px;
  border: none;
  background-color: white;
  position: absolute;
  bottom: 80px;
}

#info {
  padding-top: 100px;
  background-color: #F3F3F4;
}
#info .card {
  width: 100%;
  height: 140px;
  box-shadow: 3px 3px 10px grey;
  margin-bottom: 100px;
}
#info .card h5 {
  font-weight: bold;
  margin-top: 30px;
  padding-left: 120px;
}
#info .card p {
  padding-left: 120px;
}
#info .card .icon {
  width: 86px;
  height: 86px;
  background-color: #283593;
  border-radius: 50%;
  position: absolute;
  top: -43px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#info .card .icon i {
  position: absolute;
  color: white;
  font-size: 30px;
}

#cards {
  background-color: #F3F3F4;
}
#cards img {
  filter: brightness(0.5);
}
#cards .first-card {
  height: 420px;
  position: relative;
}
#cards .first-card .card-info {
  position: absolute;
  bottom: 60px;
  left: 30px;
}
#cards .first-card .card-info h4 {
  font-weight: bold;
  color: white;
}
#cards .first-card .card-info p {
  color: white;
  font-size: 18px;
  font-weight: bold;
}
#cards .first-card .card-info .my-btn {
  width: 110px;
  height: 40px;
  border-radius: 7px;
  border: none;
  background-color: white;
  position: absolute;
}
#cards .first-card img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
#cards .card {
  height: 200px;
  border: none;
}
#cards .card img {
  height: 100%;
  border-radius: 10px;
}
#cards .card .card-info {
  position: absolute;
  bottom: 60px;
  left: 30px;
}
#cards .card .card-info h4 {
  font-weight: bold;
  color: white;
}
#cards .card .card-info p {
  color: white;
  font-size: 18px;
  font-weight: bold;
}
#cards .card .card-info .my-btn {
  width: 110px;
  height: 40px;
  border-radius: 7px;
  border: none;
  background-color: white;
  position: absolute;
}
#cards .last-card {
  position: relative;
}
#cards .last-card .card-info {
  position: absolute;
  left: 180px;
}
#cards .change-card {
  top: 20px;
}

#category {
  background-color: #F3F3F4;
}
#category p:nth-child(1) {
  margin-top: 130px;
  font-size: 30px;
}
#category .product {
  margin-top: 20px;
  position: relative;
}
#category .product img {
  width: 100%;
  border-radius: 8px;
  filter: brightness(0.5);
}
#category .product .product-info {
  position: absolute;
  bottom: 10px;
  left: 20px;
  line-height: 20px;
}
#category .product .product-info h4,
#category .product .product-info p {
  font-weight: bold;
  color: white;
}

#sunglasses {
  background-color: #F3F3F4;
}
#sunglasses .image {
  margin-top: 100px;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-image: url(../images/home-images/sunglasses-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#sunglasses .image img:nth-child(2) {
  position: absolute;
  width: 80%;
  border-radius: 10px;
  filter: brightness(0.5);
}
#sunglasses .image .image-info {
  width: 100%;
  position: absolute;
  text-align: center;
}
#sunglasses .image .image-info i {
  font-size: 40px;
  color: white;
}
#sunglasses .image .image-info h3 {
  font-size: 40px;
  color: white;
  margin-top: 10px;
}
#sunglasses .image .image-info p {
  font-size: 65px;
  color: white;
}
#sunglasses .image .image-info .my-btn {
  width: 110px;
  height: 40px;
  border-radius: 7px;
  border: none;
  background-color: white;
}

#subscribe {
  background-color: #283593;
  position: relative;
}
#subscribe .main {
  display: flex;
  position: relative;
  justify-content: center;
}
#subscribe .main .success-icon {
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -50px;
}
#subscribe .main .success-icon i {
  position: absolute;
  font-size: 40px;
}
#subscribe .main .my-newsletter {
  padding: 70px 0;
}
#subscribe .main .my-newsletter h2 {
  margin-bottom: 0 !important;
  color: white;
  font-size: 35px;
}
#subscribe .main .my-newsletter span {
  padding: 20px 0;
  display: block;
  color: white;
}
#subscribe .main .my-newsletter input {
  background-color: #283593;
  border-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  color: white;
  width: 90%;
}
#subscribe .main .my-newsletter input::-moz-placeholder {
  color: white;
}
#subscribe .main .my-newsletter input:-ms-input-placeholder {
  color: white;
}
#subscribe .main .my-newsletter input::placeholder {
  color: white;
}
#subscribe .main .my-newsletter button {
  border: none;
  background: none;
  font-size: 22px;
  color: white;
}

#download {
  background-color: #F3F3F4;
  padding: 20px;
}
#download p {
  display: inline;
  font-size: 30px;
  font-weight: bold;
}
#download i {
  font-size: 30px;
  margin-right: 10px;
}
#download .apple {
  text-align: center;
  border-right: 1px solid black;
  padding: 30px 0;
}
#download .android {
  text-align: center;
  padding: 30px 0;
}

#fotter {
  background-color: #000;
  padding-top: 60px;
}
#fotter h5 {
  color: white;
  margin-bottom: 30px;
}
#fotter span {
  color: white;
}
#fotter p {
  color: white;
  transition: 0.3s;
  cursor: pointer;
  font-size: 17px;
}
#fotter p:hover {
  color: brown;
}
#fotter .line {
  width: 100%;
  height: 1px;
  background-color: white;
  margin: 20px 0;
}
#fotter .mastercards {
  margin-bottom: 30px;
}
#fotter .mastercards span {
  float: right;
}/*# sourceMappingURL=home.css.map */